*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Ignore Android Studio and Gradle files
.gradle/
.idea/
local.properties
.DS_Store
/build/
# IDEs
.idea/
*.iml
.gradle/

# Build files
backend/target/
mobile/app/build/
mobile/.gradle/

# SECRETS (Do not upload these!)
local.properties
.env
application-secrets.properties